
@font-face {
    font-family: quicksand-light;
    src: url('../fonts/Quicksand-Light.ttf');
}
@font-face {
    font-family: quicksand-regular;
    src: url('../fonts/Quicksand-Regular.ttf');
}
@font-face {
    font-family: quicksand-medium;
    src: url('../fonts/Quicksand-Medium.ttf');
}

body, html {
    box-sizing: border-box;
    background: $mainDark;
    margin: 0;
    font-family: quicksand-regular, serif;
    color: $offWhite;
}

span {
    font-family: quicksand-regular, serif;
    font-size: $font-16px;
    color: $offWhite;

}

a {
    text-decoration: none;
    color: $offWhite;
}

button {
    font-family: quicksand-regular, serif;
    background: none;
    border: none;
    cursor: pointer;
}

input {
    background: none;
    outline: none;
}

::placeholder {
    font-family: quicksand-regular, serif;
    font-weight: bold;
    color: $gray;
}


//hide scrollbar
body::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}