
$mainDark: rgb(22, 22, 22);
$offWhite: rgb(235, 235, 235);
$pink: rgb(215, 82, 178);
$gray: rgb(50, 50, 50);
$lightGray: rgb(135, 135, 135);
$darkGray: rgb(36, 36, 36);
$yellow: rgb(207, 193, 70);
$blue: rgb(43, 166, 235);
$red: rgb(255, 14, 53);
$green: rgb(38, 143, 49);


$font-72px: 72px;
$font-48px: 48px;
$font-36px: 36px;
$font-32px: 32px;
$font-28px: 28px;
$font-24px: 24px;
$font-20px: 20px;
$font-18px: 18px;
$font-16px: 16px;
$font-14px: 14px;


$time-long-hover-anim: 250ms;
$time-hover-anim: 150ms;
$time-click-anim: 100ms;
