
$mainDark: rgb(22, 22, 22);
$offWhite: rgb(235, 235, 235);
$pink: rgb(215, 82, 178);
$gray: rgb(50, 50, 50);
$lightGray: rgb(135, 135, 135);
$darkGray: rgb(36, 36, 36);
$yellow: rgb(207, 193, 70);
$blue: rgb(43, 166, 235);
$red: rgb(255, 14, 53);
$green: rgb(38, 143, 49);


$font-72px: 4.5rem;
$font-48px: 3rem;
$font-36px: 2.25rem;
$font-32px: 2rem;
$font-28px: 1.75rem;
$font-24px: 1.5rem;
$font-20px: 1.25rem;
$font-18px: 1.125rem;
$font-16px: 1rem;
$font-14px: 0.875rem;


$time-long-hover-anim: 250ms;
$time-hover-anim: 150ms;
$time-click-anim: 100ms;
